%clear {
  content: ' ';
  display: table;
}
.clear {
  *zoom: 1;
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear: both;
  }
}

.clearWidth{
  min-width: 100%;
}

.clearFix-170{
  min-height: 170px;
  @extend .clearWidth;
}
